In [200]:
import pandas as pd

In [201]:
data = pd.read_csv("popularity of Indian classical music 2012-2020.csv")

In [202]:
data_ = data.iloc[:,:-5]
countries = data_.columns.values[3:]

In [143]:
for i in countries:
    df=data_[["Week","year",i]][:495]
    country=i+".csv"
    df.to_csv(country)

In [203]:
data1 = pd.read_csv(countries[0]+".csv").iloc[:,1:].rename(columns={countries[0]:"Popularity Score"})
data1

           Week    year  Popularity Score
0    05-01-2020  2020.0              63.0
1    12-01-2020  2020.0              15.0
2    19-01-2020  2020.0              32.0
3    26-01-2020  2020.0              62.0
4    02-02-2020  2020.0              31.0
..          ...     ...               ...
490  23-05-2021  2021.0              63.0
491  30-05-2021  2021.0              32.0
492  06-06-2021  2021.0              16.0
493  13-06-2021  2021.0              16.0
494  20-06-2021  2021.0              64.0

[495 rows x 3 columns]

In [204]:
data_frame = df1.rename(columns={"India":"Popularity Score"})
data_frame["Country"] ="India"

In [205]:
def dataframeMaker(country_name):
    d = pd.read_csv(country_name+".csv").iloc[:,1:].rename(columns={country_name:"Popularity Score"})
    d["Country"] = country_name
    return d

In [206]:
df0 = dataframeMaker(countries[0])
df1 = dataframeMaker(countries[1])
df2 = dataframeMaker(countries[2])
df3 = dataframeMaker(countries[3])
df4 = dataframeMaker(countries[4])
df5 = dataframeMaker(countries[5])
df6 = dataframeMaker(countries[6])
df7 = dataframeMaker(countries[7])
df8 = dataframeMaker(countries[8])
df9 = dataframeMaker(countries[9])
df10 = dataframeMaker(countries[10])
df11 = dataframeMaker(countries[11])
df12 = dataframeMaker(countries[12])
df13 = dataframeMaker(countries[13])
df14 = dataframeMaker(countries[14])
df15 = dataframeMaker(countries[15])
df16 = dataframeMaker(countries[16])
df17 = dataframeMaker(countries[17])
df18 = dataframeMaker(countries[18])
df19 = dataframeMaker(countries[19])
df20 = dataframeMaker(countries[20])
df21 = dataframeMaker(countries[21])
df22 = dataframeMaker(countries[22])
df23 = dataframeMaker(countries[23])
df24 = dataframeMaker(countries[24])
df25 = dataframeMaker(countries[25])
df26 = dataframeMaker(countries[26])
df27 = dataframeMaker(countries[27])

In [207]:
dataframe_all = [df0,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26,df27]

In [208]:
df_all = data_frame.append(dataframe_all)

In [209]:
df_all.to_csv("Popularity_of_Hindustani_Classical_Music_all.csv")