In [1]:
import requests
import pandas as pd
import re
from bs4 import BeautifulSoup


import os
from pandas.io.json import json_normalize
import urllib.request as request
import json

import operator
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [15]:
file1 = open("RS.txt","r")
data = file1.readlines()
file1.close()

In [28]:
album_name =[]
year = []
for i in data:
    album_name.append(i.split("(")[0])
    year.append(i.split("(")[-1].split(")")[0])

In [30]:
df= pd.DataFrame(list(zip(album_name, year)), columns =['Album/Movie', 'Year'])
df

                                          Album/Movie  Year
0                                        Three Ragas   1956
1                                     Music of India   1962
2                                     Improvisations   1962
3                                         In Concert   1962
4                                       Ravi Shankar   1963
..                                                ...   ...
71  Symphony with London Philharmonic Orchestra an...  2012
72                   The Living Room Sessions Part 1   2012
73                   The Living Room Sessions Part 2   2013
74                    A Night at St. John the Divine   2014
75                                In Hollywood, 1971   2016

[76 rows x 2 columns]

In [34]:
df.to_csv("ptRaviShankar.csv")